# Created by https://www.toptal.com/developers/gitignore/api/hugo
# Edit at https://www.toptal.com/developers/gitignore?templates=hugo

### Hugo ###
# Executable may be added to repository
hugo.exe
hugo.darwin
hugo.linux

#Mac OS system file
.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/hugo